//Linkek
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

//Változók
$m_color: rgb(255, 118, 182);
$m2_color: rgb(253, 69, 146);
$bg_color: white;
$text_color: rgb(24, 24, 24);

$mobil: 600px;
$pc: 800px;

$max-szel: 1200px;


// Alap
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient($m_color, $m2_color);
    text-align: center;
}

// Sablon
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: $max-szel;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: $m2_color;
}
a:hover {
    color: $m_color;
}
li {
    list-style: none;
}
.box {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

//

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 223, 248));
    padding: .5rem 1.2rem;
    text-transform: uppercase;
    font-size: 1.3rem;

    .flex {
        justify-content:space-between;
        align-items: center;
        gap: 1.5rem;
        min-height: 60px;
    }
    .logo {
        font-weight: bold;
        font-size: 1.4rem;
    }
    .pc_menu {
        display: none;
        font-weight: bold;
    }
    .mobil_menu {
        display: block;
        padding: .5rem;
        border: 2px solid $m_color;
    }
}
main {
    max-width: $max-szel;
    margin: 0 auto;
    min-height: 70vh;

    #fooldal {
        min-height: 90vh;
        background-color: rgb(2, 137, 255);
    }
}
footer {
    color: $text_color;
    background-color: $m2_color;
    line-height: 1.5rem;

    .flex {
        justify-content: center;
    }
    a {
        color: white;
    }
    a:hover {
        color: rgba(255, 255, 255, 0.801);
    }
    .up {
        padding: 3rem;
        color: white;
        .flex {
            flex-direction: column;
            gap: 5rem;
        }
        .creator {
            grid-column: 1/-1;
            grid-row: 1;
            
            img {
                width: 150px;
            }
        }
        .cim {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .social {
            font-size: 2rem;
            margin-top: 1rem;
        }
    }
    .down {
        padding: 2rem;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 223, 248));
        color: $m_color;
        font-weight: bold;
    }
}


// Media
@media only screen and (min-width: $pc) {
    html {
      background-color: rgb(218, 80, 195);
    }
    header {
        
        .mobil_menu {
            display: none;
        }
        .pc_menu {
            display: block;
        }
    }
    footer .up .flex {
        gap: 0;
        text-align: left;
        flex-direction: row;
        justify-content:space-around;
        align-items: flex-start;
    }
  }